.main {
  background-color: var(--background-color);
  min-height: 100vh;
}

.quickLinksWrapper {
  margin-top: 2rem; 
  margin-bottom: 3rem;
}

.featuredWrapper {
  margin-bottom: 3rem;
}

/* Container do Feed de Notícias */
.feedContainer {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;

}

.sectionTitle {
  font-family: var(--font-jakarta), sans-serif;
  font-size: 1.5rem;
  font-weight: 700; 
  color: var(--branco-puro);
  margin-bottom: 1.5rem;
  
  /* A linha lateral ciano */
  border-left: 4px solid var(--cta-buttons-color);
  padding-left: 1rem;
}